.github/**
.vscode/**
coverage/**
images/**
out/**
src/**
test/**
.gitignore
.eslintcache
**/tsconfig.json
**/.prettierignore
**/.prettierrc
**/.eslintrc.json
**/commitlint.config.js
**/*.map
**/*.ts
