name: Build and Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - name: Install Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3.5.1
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Install Node dependencies
        run: npm ci
      - name: Package VSIX
        run: npm run package
      - name: Archive VSIX
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: vsix
          path: '*.vsix'
      - name: Test
        run: npm run test:prep && npm run test -- --coverage
      - name: Typecheck
        run: npm run typecheck
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format
      - name: Publish to marketplace
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - name: Read changelog
        uses: yashanand1910/standard-release-notes@15525b3bbc0f8260a205d192d567ba8b89a8d392 # v1.3.0
        id: changelog
        with:
          version: ${{ github.ref }}
      - name: Create release
        uses: svenstaro/upload-release-action@133984371c30d34e38222a64855679a414cb7575 # 2.3.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: '*.vsix'
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          body: ${{ steps.changelog.outputs.release_notes }}
